@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,600;1,600&family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@500&family=Poppins:wght@300;400;500&family=Roboto+Slab:wght@300;400&family=Roboto:ital,wght@0,400;0,700;1,300;1,500&family=Rubik:ital,wght@0,400;1,300;1,400&display=swap');



/* .navber .nav-link .active{
    color: #E93B81;
} */
.home{
   
    margin-bottom: 100px;
    background:linear-gradient(hsla(224, 68%, 21%, 0.8), hsla(224, 68%, 21%, 0.8)), url(../banner.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    
}
.home p{
    max-width: 560px;
    margin:15px auto;
    margin-bottom: 10px;
}
/* .banner-title{
  
} */
.logo{
    color: #11245A ;
}
.btn-brand{
    color: rgb(247, 18, 132);
}
